<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<title>Inicio</title>
<meta charset="UTF-8" />

</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo">
		<div class="row" align="center">
			<div class="col-lg-12">
				<br>
				<br>
				<div align="center" class="panel-heading">
					<h5>
						<strong>ESIG - PROCESSO DE SELEÇÃO DE CANDIDATOS</strong>
					</h5>
				</div>
				<div>
					<a class="btn btn-sm btn-success" th:href="@{/candidato/add}"><h3>INICIAR</h3></a>
				</div>
				<br>
				<div id="img">
					<img th:src="@{/imagens/images.jpg}" height="1200px" width="800px"
						class="img-fluid" alt="Responsive image"><br>
				</div>
			</div>
		</div>
	</div>

</body>
</html>